.dialog-footer button:first-child {
    margin-right: 10px;
}

/* 
    /deep/在scoped中报错 
    可用v-deep选择器（弃用）替代深度选择器
    或:deep(<inner-selector>)
    调整子组件样式 
*/
:deep(.el-divider__text) {
    text-align: center;
    background-color: rgb(102, 138, 183);
}

.mainBox {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

    #forgotPassBtn {
        margin-left: 1rem;
        margin-bottom: 1rem;
        height: min-content;
        width: max-content;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    #guideBtn {
        font-size: 1.1rem;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .contentBox {
        overflow: hidden; // BFC
        min-width: 50rem;
        min-height: 32rem;
        max-width: 72rem;
        max-height: 32rem;
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        background-color: rgba(255, 255, 255);
        margin: 0 auto;
        border-radius: 2rem;
        box-shadow: 1rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);

        .contentPre {

            a {
                color: white;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            #guideBtn {
                color: rgb(234, 234, 234);
                cursor: pointer;
            }

            box-shadow: 1rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
            color: white;
            font-size: 1.5rem;
            word-spacing: 0.2rem;
            text-indent: 0.5rem;
            border-radius: 2rem;
            position: absolute;
            margin-left: 50%;
            width: 50%;
            height: 100%;
            z-index: 2;
            background-color: rgba(64, 109, 165, 0.8);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(8px);
            -o-backdrop-filter: blur(10px);
            -moz-backdrop-filter: blur(10px);
            -ms-backdrop-filter: blur(10px);
            transition-duration: 1s;
            -webkit-transition-duration: 1s;
            -o-transition-duration: 1s;
            -moz-transition-duration: 1s;
            -ms-transition-duration: 1s;
        }

        .contentBack {
            position: relative;
        }

        .contentElement {
            text-align: center;
        }

        h1 {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 2rem;
            letter-spacing: 0.5rem;
            text-indent: 1.5rem;
            font-weight: 600;
            text-shadow: 1rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
        }

        .el-main {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-flow: column;
        }
    }
}

.contentForm {
    display: flex;
    justify-content: center;
}

.el-form {
    overflow: hidden;
    text-align: center;
}

.generalInput {
    width: 15rem;
}

.captchaInput {
    width: 9rem;
    margin-right: 1rem;

    &+.el-button {
        width: 5rem;
        font-size: 0.7rem;
        font-weight: 600;
    }
}

.forgetBox {
    width: max-content;
    height: max-content;
}