@import './base.scss';

#app {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    background-color: rgb(222, 245, 252);
}